.transparent-btn {
  color: #ffffff;
  text-shadow: none;
  font-weight: 600;
  background-color: transparent;
  font-size: 15px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  padding: 10px 25px 9px 25px;
  margin: 0 3px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.transparent-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.transparent-btn:hover,
.transparent-btn:focus,
.transparent-btn:active {
  color: #313131;
  text-decoration: none;
}

.transparent-btn:hover:before,
.transparent-btn:focus:before,
.transparent-btn:active:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.filled-btn {
  color: #313131;
  text-shadow: none;
  font-weight: 500;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.filled-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #313131;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.filled-btn:hover,
.filled-btn:focus,
.filled-btn:active {
  color: #ffffff;
  text-decoration: none;
}

.filled-btn:hover:before,
.filled-btn:focus:before,
.filled-btn:active:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #313131;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.section-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  color: #313131;
}

.green {
  color: #86cd5b;
}

.yellow {
  color: #f8c145;
}

.orange {
  color: #ff8a11;
}

.blue {
  color: #00bbdc;
}

.ta-center {
  text-align: center;
}

.tab-content {
  display: none;
}

.content_active {
  display: block;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.button {
  padding: 5px 10px;
  border: 2px solid #fff;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

li {
  list-style: none;
}

.breadcrumb {
  background: transparent;
  color: #d1cece;
  font-size: 12px;
}

.breadcrumb a {
  color: #d1cece;
  text-decoration: underline;
}

.breadcrumb a:hover {
  color: #d1cece;
  text-decoration: none;
}

.standart-link {
  text-decoration: underline;
  color: #0000FF;
}

.standart-link:hover {
  text-decoration: none;
  color: #0000ff;
}

textarea {
  resize: none;
}

.header-top {
  -webkit-box-shadow: 0 1px 3px #d1cece;
          box-shadow: 0 1px 3px #d1cece;
}

.header-top__nav {
  padding: 17px 0 17px 0;
}

.header-top__nav-item {
  margin-right: 25px;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
}

.header-top__nav-item a {
  position: relative;
}

.header-top__nav-item a:hover {
  color: #ff2001;
}

.header-top__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__nav-item_active a {
  color: #ff2001;
}

.header-top__nav-button {
  max-width: 140px;
  padding: 9px 8px;
  background: #ff2001;
  border: none;
  border: 1px solid #ff2001;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  color: #fff;
}

.header-top__nav-button:hover {
  color: #ff2001;
}

.header-bottom {
  padding: 25px 0;
  background-image: url("/images/header-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-page__main {
  padding: 70px 0;
  background: url("/images/main_page/bg.png") no-repeat center;
  background-size: cover;
}

.main-page__descr {
  padding-top: 70px;
  padding-bottom: 60px;
}

.main-page__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-page__contents {
  position: relative;
  padding-top: 75px;
  background: url("/images/main_page/bg_section_1.png") center;
}

.main-page__contents::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 11px;
  background: url("/images/circle-line.png");
  top: 0;
  left: 0;
  overflow: visible;
}

.main-page__banner {
  position: relative;
  padding-top: 25px;
  background: url("/images/main_page/bg_section_2.png");
}

.main-page__banner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 11px;
  background: url("/images/circle-line.png");
  top: 0;
  left: 0;
  overflow: visible;
}

.main-page__questions {
  padding-top: 120px;
  padding-bottom: 95px;
  background: url("/images/main_page/bg_section_1.png");
}

.main-page__winner {
  padding: 90px;
}

.main-page__surprise {
  position: relative;
  padding-top: 75px;
  padding-bottom: 310px;
  background: url("/images/main_page/bg_section_3.jpg");
}

.main-page__surprise .section-title {
  margin-bottom: 5px;
  color: #fff;
}

.main-page__surprise .sub-title {
  font-size: 22px;
  color: #fff;
}

.main-page__surprise .sub-title span {
  display: block;
}

.main-page__surprise img {
  position: absolute;
  bottom: -162px;
  left: 50%;
  -webkit-transform: translateX(-422px);
          transform: translateX(-422px);
  z-index: 2;
}

.main-page__form {
  padding-top: 105px;
  padding-bottom: 55px;
  background: #F6F6F6;
}

.main-page__form .section-title {
  position: relative;
  margin-bottom: 10px;
  z-index: 3;
}

.main-page__form p {
  font-weight: 500;
}

._diplom-1 {
  margin-left: 15px;
}

.main-descr {
  margin-top: 33px;
}

.main-descr__item {
  font-size: 22px;
  color: #313131;
  list-style: url("/images/main_page/service-icon.png");
  margin-left: 35px;
}

.statbar {
  height: 216px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 15px 50px 15px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  text-align: center;
}

.statbar__symbol {
  display: inline-block;
  font-size: 38px;
  font-weight: 600;
  font-family: 'Atma', cursive;
}

.statbar__title {
  font-size: 18px;
  font-weight: bold;
}

.statbar__descr {
  font-size: 13px;
  font-weight: 500;
}

.contents__descr {
  font-size: 14px;
  font-weight: 500;
}

#tabs {
  position: relative;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.mark {
  margin-right: 2px;
  padding: 15px 40px;
  background: #ff2001;
  border: 1px solid #ff2001;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  list-style: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.mark_active {
  background: #fff;
  border: 1px solid #d1cece;
  border-bottom: none;
  color: #313131;
}

.tab-section {
  padding-top: 40px;
  padding-bottom: 150px;
  margin-top: -1px;
  border-top: 1px solid #d1cece;
  background: #fff;
}

.competition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #00bbdc;
  margin-bottom: 15px;
}

.competition__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px;
  color: #fff;
}

.competition__descr .title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}

.competition__descr .name {
  font-size: 15px;
  margin-bottom: 7px;
}

.competition__descr .date-time {
  font-size: 13px;
  margin-bottom: 10px;
}

.competition__descr .date-time span {
  display: block;
}

.competition__descr .button:hover {
  color: #00bbdc;
}

.publication-snippet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.publication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-bottom: 15px;
  padding-right: 55px;
}

.publication__img {
  margin-right: 25px;
}

.publication__descr .title {
  font-size: 18px;
  font-weight: bold;
}

.publication__descr .title:hover {
  color: #313131;
}

.publication__descr .date-time {
  font-size: 12px;
  color: #ABA7A7;
}

.publication__descr .author {
  font-size: 14px;
  color: #606060;
}

.more {
  text-align: right;
  font-size: 12px;
  color: #313131;
}

.more a {
  border-bottom: 1px dotted #313131;
}

.more a:hover {
  color: #313131;
}

.banner__title {
  text-transform: uppercase;
  color: #fff;
}

.banner__wrap {
  padding-top: 70px;
  text-align: center;
}

.banner__button_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__button {
  padding: 12px 7px;
  margin-right: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.banner__button:last-child {
  background: #fff;
  color: #96c667;
}

.banner__button:last-child:hover {
  color: #fff;
}

.banner__button.filled-btn:before {
  background: #96c667;
}

.banner__button:hover {
  color: #96c667;
}

.winners {
  padding-top: 65px;
}

.winner__desr {
  font-weight: 500;
}

.winer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  margin-bottom: 40px;
  border-radius: 300px;
  background: #f8c145;
  -webkit-box-shadow: 0px 5px 0px 0px #dfae3e;
          box-shadow: 0px 5px 0px 0px #dfae3e;
}

.winer-block__img {
  position: relative;
  width: 180px;
  height: 180px;
  border: 8px solid #fff;
  border-radius: 50%;
  background-size: cover;
}

.winer-block__img .mask {
  opacity: 0;
  overflow: visible;
  border: 0 solid rgba(0, 0, 0, 0.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}

.winer-block__img .mask-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 101;
}

.winer-block__img .mask i {
  border-radius: 50%;
  background-color: #ff2001;
  color: #ffffff;
  padding: 7px;
  margin-bottom: 10px;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.winer-block__img .mask:hover {
  opacity: 1;
  color: #fff;
}

.winer-block__img .mask:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.winer-block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 66%;
  text-align: center;
}

.winer-block__info .name {
  margin-top: 7px;
  font-size: 18px;
  color: #fff;
}

.winer-block__info .date-time {
  margin-top: 7px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.winer-block__info .date-time span {
  display: block;
  font-size: 11px;
  font-weight: 400;
}

.winer-block__info .descr {
  margin-top: 7px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.winer-block__info .button:hover {
  color: #f8c145;
}

.fa-eye:before {
  content: "\F06E";
  height: 12px;
  width: 12px;
}

.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
}

.title_active {
  height: 97%;
}

.questions__acord {
  margin-bottom: 27px;
}

.questions__acord .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
}

.questions__acord .head .arrow {
  position: relative;
  width: 70px;
  height: 55px;
  background: #ff2001;
}

.questions__acord .head .arrow::before {
  content: '';
  position: absolute;
  background: url("/images/main_page/arrow.svg") center no-repeat;
  background-size: contain;
  width: 35%;
  height: 35%;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  margin-top: -9px;
}

.questions__acord .head .arrow_active::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.questions__acord .head .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 30px;
  width: 100%;
  border: 1px solid #d1cece;
  background: #fff;
  font-size: 20px;
  font-weight: bold;
}

.questions__acord .body {
  display: none;
  padding: 25px;
  border: 1px solid #d1cece;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
}

.questions__acord .body_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questions__acord-wrap {
  padding-top: 55px;
}

.main-form {
  position: relative;
  margin-top: 60px;
}

.main-form span {
  position: relative;
  margin-left: 4px;
  font-size: 12px;
  font-weight: 500;
}

.main-form span::before {
  content: '*';
  position: absolute;
  top: -5px;
  right: -7px;
  color: #ff2001;
}

.main-form .button {
  padding: 8px 25px;
  border: 1px solid #ff2001;
  background: #ff2001;
  font-weight: bold;
  color: #fff;
}

.main-form .button:hover {
  color: #ff2001;
}

.main-form input {
  width: 98%;
  margin-bottom: 25px;
  padding: 4px 10px;
  border: 1px solid #d1cece;
  border-radius: 4px;
}

.main-form img {
  position: absolute;
  bottom: -55px;
  right: 18%;
}

.account__main {
  padding-bottom: 500px;
  padding-top: 60px;
  background: url("/images/main_page/bg_section_1.png");
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  padding-right: 10px;
  background: #fff;
  border: 1px solid #d1cece;
  border-radius: 4px;
}

.account__nav {
  margin-right: 50px;
}

.nav-block {
  min-width: 243px;
  padding: 25px 45px 20px 40px;
  margin-bottom: 10px;
  background: #c2f173;
  border: 1px solid #d1cece;
  border-radius: 4px;
}

.nav-block a:hover {
  color: #313131;
}

.nav-block .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.nav-block .profile img {
  margin-right: 7px;
}

.nav-block .profile span {
  display: block;
  line-height: 18px;
  font-size: 18px;
  font-weight: bold;
}

.nav-block .title {
  font-size: 18px;
  font-weight: 500;
}

.nav-item_active {
  background: transparent;
  border: none;
}

.nav-item_active a {
  font-weight: 700;
  color: black;
}

.nav-item {
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 500;
}

.nav-item span {
  border-bottom: 1px solid #434343;
  cursor: pointer;
}

.nav-item a {
  border-bottom: 1px solid #434343;
}

.coin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 35px;
  font-weight: bold;
}

.coin img {
  margin-left: 7px;
}

.question-coin {
  border-bottom: 1px solid #434343;
  font-size: 11px;
  font-weight: 500;
}

.personal-data__form p {
  margin: 0;
  font-weight: 500;
  margin-bottom: 5px;
}

.personal-data__form .input-style {
  min-height: 36px;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 10px;
  background: #fcfcfc;
  border: 1px solid #d1cece;
  border-radius: 4px;
}

.personal-data__form .fio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal-data__form .fio-block {
  margin-right: 20px;
}

.personal-data__form .fio-block:last-child {
  margin-right: 0;
}

.personal-data__form .button {
  display: block;
  margin-top: 15px;
  padding: 0 50px;
  border: 1px solid #86cd5b;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #86cd5b;
}

.personal-data__form .button:hover {
  color: #fff;
}

.personal-data__form .filled-btn:before {
  background: #86cd5b;
}

.personal-data__form .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personal-data__form .work .work__name {
  width: 70%;
}

.personal-data__form .work .work__type {
  width: 28%;
}

.personal-data__form .wrap-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personal-data__form .wrap-button button {
  width: 48%;
}

.personal-data__form .wrap-button button:first-child {
  background: #86cd5b;
  color: #fff;
}

.personal-data__form .wrap-button button:last-child {
  border: 1px solid #434343;
  color: #434343;
}

.personal-data__form .price {
  margin: 10px 0;
  font-size: 28px;
  font-weight: bold;
}

.personal-data__form input[type=checkbox] {
  margin-right: 5px;
}

.personal-data__form .coins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-data__form .number-coin {
  margin: 0;
  margin-left: 7px;
  padding-right: 0;
  width: 8%;
  max-height: 25px;
  min-height: 0;
}

.my-publications {
  margin-left: -35px;
}

.table-publication {
  max-height: 430px;
  overflow: auto;
}

.table-publication table {
  table-layout: fixed;
}

.table-publication table th {
  padding: 2px 10px 2px 10px;
  font-size: 14px;
  text-align: center;
  word-wrap: break-word;
}

.table-publication table td {
  padding: 5px 7px;
  font-size: 13px;
  font-weight: bold;
}

.table-publication table tr:nth-child(odd) {
  background: #f7f7f7;
}

.table-publication table .standart-link {
  font-weight: 400;
}

.table-publication table .certificate {
  width: 140px;
}

.table-publication table .download-button {
  border: none;
  padding: 5px 25px;
  border-radius: 6px;
  font-size: 12px;
  background: #ff8a11;
  color: white;
}

.table-publication table .participation-button {
  border: none;
  border-radius: 6px;
  background: #86cd5b;
  color: #fff;
}

.table-publication table .order-button {
  border: none;
  border-radius: 6px;
  background: #86cd5b;
  color: #fff;
}

.table-publication table .author {
  white-space: nowrap;
}

.table-title {
  border: 1px solid #d1cece;
}

.part-in-contests {
  max-width: 812px;
  margin-left: -35px;
}

.bg-arch {
  position: relative;
  padding: 120px 0px;
  background: url("/images/competitions_bg.jpg") no-repeat center;
  background-size: cover;
}

.bg-arch::after {
  content: '';
  position: absolute;
  height: 11px;
  width: 100%;
  bottom: 0;
  background: url("/images/circle-line2.png");
  z-index: 999;
}

.bg-arch .section-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}

.competitions__descr {
  padding-right: 35px;
  font-size: 14px;
  color: #fff;
}

.cake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 128px;
  width: 128px;
  background: #fff;
  border-radius: 50%;
  bottom: -64px;
  left: 50%;
  -webkit-transform: translateX(-64px);
          transform: translateX(-64px);
  z-index: 9999;
}

.filtres {
  padding-top: 70px;
}

.filtres .search-competitions {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  padding: 7px 10px;
  background: #f7f7f7;
  border: 1px solid #d1cece;
  border-radius: 4px;
}

.filtres .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #d1cece;
  font-size: 14px;
  line-height: 14px;
}

.filtres .filter-name {
  border-bottom: 1px dotted #313131;
}

.filtres .filter-name_active {
  color: #ff2001;
  border-bottom: 1px dotted #ff2001;
}

.filtres .filter .placement-date,
.filtres .filter .duration-event,
.filtres .filter .completion_date,
.filtres .filter .fiteres-name {
  margin-left: 10px;
  color: #313131;
  cursor: pointer;
}

.filtres .filter .placement-date .arrow-up,
.filtres .filter .placement-date .arrow-down,
.filtres .filter .duration-event .arrow-up,
.filtres .filter .duration-event .arrow-down,
.filtres .filter .completion_date .arrow-up,
.filtres .filter .completion_date .arrow-down,
.filtres .filter .fiteres-name .arrow-up,
.filtres .filter .fiteres-name .arrow-down {
  border: none;
  color: #ff2001;
  display: none;
}

.competitions-list {
  padding-top: 30px;
}

.search-wrap::before {
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  background: url("/images/magnifier.svg") no-repeat center;
  top: 7px;
  right: 30px;
  z-index: 999;
}

.publish-publication {
  width: 100%;
  padding: 7px 20px;
  background: #86cd5b;
  border-radius: 4px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.publish-publication:hover {
  color: #fff;
}

.publications-filtres .section-title {
  margin-top: 15px;
}

.publications-filtres .search-wrap {
  margin-top: 15px;
}

.publications-filtres .search-wrap::before {
  top: 22px;
}

.select-filter select {
  width: 100%;
  padding: 5px 10px;
  background: #f7f7f7;
  border: 1px solid #d1cece;
  border-radius: 4px;
}

.p15 {
  padding: 0px 15px;
}

.publications-list {
  padding-top: 20px;
}

.publications-list .publication {
  padding: 15px 15px;
  background: #f7f7f7;
  border: 1px solid #d1cece;
  border-radius: 4px;
}

.publications-list .publication__title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.publications-list .publication__title a:hover {
  color: #313131;
}

.publications-list .publish__date {
  margin-bottom: 5px;
  font-size: 14px;
  color: #d1cece;
}

.publications-list .publication__author {
  margin-bottom: 5px;
  font-size: 14px;
  color: #606060;
}

.publications-list .publication__descr {
  margin-bottom: 5px;
  font-weight: 500;
}

.publications-list .publication__img {
  margin-bottom: 5px;
}

.publications-list .publication__img .img {
  width: 120px;
  height: 115px;
  border: 1px solid #d1cece;
  border-bottom: 4px solid #A95A7A;
  border-radius: 4px;
  background: url("/images/fox&bread.png") center no-repeat;
  background-size: cover;
}

.publications-list .publication__teg {
  font-size: 14px;
  color: #d1cece;
}

