.main-page
	&__main
		padding: 70px 0
		background: url('/images/main_page/bg.png') no-repeat center
		background-size: cover
	&__descr
		padding-top: 70px
		padding-bottom: 60px
	&__img
		display: flex
		justify-content: flex-end
	&__contents
		position: relative
		padding-top: 75px
		background: url('/images/main_page/bg_section_1.png') center
		&::after
			content: ''
			position: absolute
			width: 100%
			height: 11px
			background: url('/images/circle-line.png')
			top: 0
			left: 0
			overflow: visible
	&__banner
		position: relative
		padding-top: 25px
		background: url("/images/main_page/bg_section_2.png")
		&::after
			content: ''
			position: absolute
			width: 100%
			height: 11px
			background: url('/images/circle-line.png')
			top: 0
			left: 0
			overflow: visible
	&__winner
		padding: 90px
._diplom-1
	margin-left: 15px

// список на главном экране
.main-descr
	margin-top: 33px
	&__item
		font-size: 22px
		color: $space
		list-style: url("/images/main_page/service-icon.png")
		margin-left: 35px

// карточки со статистикой
.statbar
	height: 216px
	display: flex
	flex-direction: column
	justify-content: center
	padding: 50px 15px 50px 15px
	border: 1px solid #f1f1f1
	border-radius: 5px
	text-align: center
	&__symbol
		display: inline-block
		font-size: 38px
		font-weight: 600
		font-family: 'Atma', cursive
	&__title
		font-size: 18px
		font-weight: bold
	&__descr
		font-size: 13px
		font-weight: 500

.contents__descr
	font-size: 14px
	font-weight: 500
#tabs
	position: relative
.tabs
	display: flex
	justify-content: center
	margin: 0
.tab
	margin-right: 2px
	padding: 15px 40px
	background: $red
	border: 1px solid $red
	border-bottom: none
	border-top-left-radius: 4px
	border-top-right-radius: 4px
	list-style: none
	text-transform: uppercase
	color: $white
	font-weight: 500
	cursor: pointer
.tab_active
	background: $white
	border: 1px solid $border_color
	border-bottom: none
	color: $space
.tab-content
	display: none
	padding-top: 40px
	padding-bottom: 150px
	margin-top: -1px
	border-top: 1px solid $border_color
	background: $white
.tab-content_active
	display: flex
.competition
	display: flex
	background: $blue
	margin-bottom: 15px
	&__descr
		display: flex
		align-items: center
		flex-direction: column
		margin: 25px
		color: $white
		.title
			margin-bottom: 15px
			font-size: 18px
			font-weight: 500
		.name
			font-size: 15px
			margin-bottom: 7px
		.date-time
			font-size: 13px
			margin-bottom: 10px
			span
				display: block
		.button:hover
			color: $blue

.publications
	display: flex
	margin-bottom: 15px
	padding-right: 55px
	&__img
		margin-right: 25px
	&__descr
		.title
			font-size: 16px
			font-weight: bold
		.date-time
			font-size: 12px
			color: #ABA7A7
		.author
			font-size: 14px
			color: #606060
.more
	text-align: right
	font-size: 12px
	color: $space
	a
		border-bottom: 1px dotted $space
		&:hover
			color: $space
.banner
	&__title
		text-transform: uppercase
		color: $white
	&__wrap
		padding-top: 70px
		text-align: center
	&__button_wrap
		display: flex
		justify-content: center
	&__button
		padding: 12px 7px
		margin-right: 15px
		color: $white
		font-size: 14px
		font-weight:  500
		&:last-child
			background: $white
			color: #96c667
			&:hover
				color: $white
		&.filled-btn:before
			background: #96c667
		&:hover
			color: #96c667
.winner__desr
	font-weight: 500
.winer-block
	display: flex
	justify-content: space-between
	padding: 25px
	border-radius: 300px
	background: $yellow
	&__img
		position: relative
		width: 180px
		height: 180px
		border: 8px solid $white
		border-radius: 50%
		background-size: cover
		.mask
			opacity: 0
			overflow: visible
			border: 0 solid rgba(0, 0, 0, 0.7)
			box-sizing: border-box
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			z-index: 999
			transition: all 0.35s ease-in
			&-btn
				display: flex
				justify-content: center
				align-items: center
				flex-direction: column
				position: relative
				height: 100%
				background-color: rgba(0, 0, 0, 0.5)
				border-radius: 50%
				z-index: 101
			i
				border-radius: 50%
				background-color: #f34235
				color: #ffffff
				padding: 10px
				margin-bottom: 10px
				transition: opacity 0.35s, transform 0.35s
				transform: scale(1.5)
			&:hover
				opacity: 1
				color: $white
			&:hover
				transform: scale(1)
	&__info
		display: flex
		flex-direction: column
		align-items: center
		margin-left: 20px
		text-align: center
.fa-eye:before
	content: "\f06e"
	height: 18px
	width: 18px
.fa
	display: inline-block
	font: normal normal normal 14px/1 FontAwesome
	font-size: inherit
	text-rendering: auto




