.main-page
	&__main
		padding: 70px 0
		background: url('/images/main_page/bg.png') no-repeat center
		background-size: cover
	&__descr
		padding-top: 70px
		padding-bottom: 60px
	&__img
		display: flex
		justify-content: flex-end
._diplom-1
	margin-left: 15px
// список на главном экране
.main-descr
	margin-top: 33px
	&__item
		font-size: 22px
		color: $space
		list-style: url("/images/main_page/service-icon.png")
		margin-left: 35px

// карточки со статистикой
.statbar
	height: 216px
	display: flex
	flex-direction: column
	justify-content: center
	padding: 50px 15px 50px 15px
	border: 1px solid #f1f1f1
	border-radius: 5px
	text-align: center
	&__symbol
		display: inline-block
		font-size: 38px
		font-weight: 600
		font-family: 'Atma', cursive
	&__title
		font-size: 18px
		font-weight: bold
	&__descr
		font-size: 13px
		font-weight: 500