.admin-nav
  display: flex
  flex-direction: column
  padding: 20px 60px 0px 20px
  height: 100vh
  width: 20%
  background: $input_color
  border-right: 1px solid $border_color

  .admin-profile
    display: flex
    align-items: center

    .page-name
      display: flex
      flex-direction: column
      margin-left: 12px

      span
        display: block
        line-height: 18px
        font-size: 18px
        font-weight: bold

  a
    margin-top: 6px

    &:hover
      color: $space
      text-decoration: underline
  .active
    color: $space
    text-decoration: underline

.wrap-admin
  display: flex

main
  width: 100%

.publ-tab
  position: relative
  border: 1px solid $border_color
  border-top: none
  padding: 10px 15px
  margin-right: 7px
  background: $white
  cursor: pointer
  z-index: 1
  &-content
    position: relative
    padding: 0px 20px 0px 20px
    border-top: 1px solid $border_color
    margin-top: -1px
    z-index: 0
  &_active
    border-bottom: none  
.wrapper-list
  margin-right: 25px
  width: 300px
  margin-top: 15px
  .list-header 
    text-align: center
    border: 1px solid black 
    padding: 10px 15px    
    font-size: 18px 
    font-weight: bold
  .list-body
    max-height: 300px
    border: 1px solid black 
    border-top: none
    overflow-y: auto
    margin-bottom: 0
    &__item
      border-bottom: 1px solid black
      padding: 5px 10px
      cursor: pointer
      &:last-child
        border: none
      &:hover 
        background: #c2dfff
      &_active
        background: #c2dfff
.adding
  cursor: pointer
  max-height: 300px
  border: 1px solid black
  border-top: none
  &:hover
    background: #c2dfff
.wrapper-form 
  margin-top: 15px
  .add-form 
    display: none
    flex-direction: column
    textarea
      margin-bottom: 5px
  .edition-form
    display: none
    width: 259px
    flex-direction: column
    input
      margin-bottom: 5px
      width: 100%
    .wrap-button
      width: 100%
      button
        width: 49%
  .form_active
    display: flex

.competition-tab
  position: relative
  border: 1px solid $border_color
  border-top: none
  padding: 10px 15px
  margin-right: 7px
  background: $white
  cursor: pointer
  z-index: 1
  &-content
    position: relative
    padding: 0px 20px 0px 20px
    border-top: 1px solid $border_color
    margin-top: -1px
    z-index: 0
  &_active
    border-bottom: none
.create-competition
  margin-right: 35px
  padding: 15px
  width: 25%
#createCover
  border: none
#createCover
  padding-left: 0
#createTypeCompetition
  min-height: 36px
  width: 100%
  padding: 5px 10px
  background: #fcfcfc
  border: 1px solid $border_color
  border-radius: 4px

.a-work
  padding: 25px
.wrap-a-com-work
  a
    cursor: pointer
    &:hover
      color: $space
      text-decoration: underline

.work-tab
  position: relative
  border: 1px solid $border_color
  border-top: none
  padding: 10px 15px
  margin-right: 7px
  background: $white
  cursor: pointer
  z-index: 1
  &-content
    position: relative
    padding: 0px 20px 0px 20px
    border-top: 1px solid $border_color
    margin-top: -1px
    z-index: 0
  &_active
    border-bottom: none

.wrap-a-work 
  margin-top: 8px
  margin-bottom: 10px
  display: flex
  justify-content: space-around
  .author 
    display: flex
    flex-direction: column
    .work
      &__name

      &__tacher

      &__location        
  .place 
    max-height: 30px    
  .btn-form
    display: none

.substrate-form
  display: flex
  flex-direction: column
  & input
    margin-bottom: 20px
  & label
    margin-bottom: 5px
#example-substrate
  margin-top: 20px
  width: 300px
  height: 450px
.content_active.competition-tab-content[data-tab='2']
  display: flex
