.header
	&-top
		box-shadow: 0 1px 3px $border_color
		&__nav
			padding: 17px 0 17px 0
			&-item
				margin-right: 15px
				font-size: 16px
				font-weight: bold
				list-style: none
				& a
					position: relative
					font-family: $thin
					font-size: 20px
				& a:hover
					color: $red
				&s
					display: flex
					margin: 0
					align-items: center
				&_active
					a
						color: $red
			&-button
				max-width: 140px
				padding: 9px 8px
				background: $red
				border: none
				border: 1px solid $red
				border-radius: 4px
				font-size: 13px
				font-weight: 500
				text-transform: uppercase
				position: relative
				color: $white
				&:hover
					color: $red
	&-bottom
		padding: 25px 0
		background-image: url("/images/header-bg.png")
		background-repeat: no-repeat
		background-position: center
		background-size: cover
.login
  &:hover 
    color: #ff2001 !important
.dropdown-menu 
	top: 160%
	padding-bottom: 0
.dropdown-item
	font-size: 14px !important
	font-weight: 600
	font-family: "Roboto", sans-serif !important
	&:hover
		color: #fff !important
		background-color: #ff2001