.header
	&-top
		box-shadow: 0 1px 3px $border_color
		&__nav
			padding-top: 8px
			&-item
				margin-right: 15px
				font-size: 16px
				font-weight: bold
				list-style: none
				& a
					position: relative
					font-family: $thin
					font-size: 20px
				& a:hover
					color: $red
				&s
					display: flex
					margin: 0
					align-items: center
				&_active
					a
						color: $red
			&-button
				max-width: 140px
				padding: 9px 8px
				background: $red
				border: none
				border: 1px solid $red
				border-radius: 4px
				font-size: 13px
				font-weight: 500
				text-transform: uppercase
				position: relative
				color: $white
				&:hover
					color: $red
	&-bottom
		padding: 25px 0
		background-image: url("/images/header-bg.png")
		background-repeat: no-repeat
		background-position: center
		background-size: cover
.dropdown-menu 
	top: 123%
	padding-bottom: 0
	border-bottom-left-radius: 15px
	border-bottom-right-radius: 15px
.dropdown-item
	padding-top: 10px
	padding-bottom: 10px
	font-size: 14px !important
	font-weight: 600
	font-family: "Roboto", sans-serif !important
	&:hover
		color: #fff !important
		background-color: #ff2001
		&:last-child
			border-bottom-right-radius: 15px
			border-bottom-left-radius: 15px

header 
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1)
.login 
	font-size: 15px
	font-family: "Roboto", sans-serif
	font-weight: 100
	&:hover
		color: $red
	img 
		margin-right: 10px