.login-page
	margin-top: 60px
	margin-bottom: 100px

h1
	font-family: $thin
	margin-bottom: 50px
input 
	background-color: #e8f0fe !important
form
	max-width: 450px
	width: 100%
#forgot-password
	margin-left: 40px
#social-sign
	font-family: $thin
	text-align: center
	font-size: 28px